:root{
    --background-color: rgb(94, 103, 112);
    --text-color: white;
}

body{
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text-color);
    background-color: burlywood;
}
  /*add base options for selection box and add zoom to focus  */
@media screen and (max-width: 996px) {
    body{
      flex: 1 1 500px;
    }
}

  @media screen and (max-width: 768px) {
    body{ 
        flex: 1 1 300px;
    }
}

/* media screen for resize */