body{
  background-color: cornflowerblue;
  color: black;
  font-size: 40px;
}
/* choice container for borders and area select */
.choice-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  font-size: large;
  min-width: 200px;
} 
.choice-text {
  font-size: 30px;
}
/* media screen for resize */
@media screen and (max-width:786px) {
  .choice-container{ 
    min-width: 200px;
  }
  
}