.body{
  background-color: cornflowerblue;
  color: black;
}
.choice-container{
  display: flex;
  width: 300px;
  border-radius: 10px;
  background-color: burlywood;


}

.startBtn button {
  font-size: 50px;
  color: red;

} 
/* media screen for resize */